
body {
    font-family: 'Poppins', sans-serif;
    color: #fff; /* White text color for better readability on dark background */
    font-size: 16px;
    line-height: 1.6;
    background-color: #092A3A; /* Dark blue background */
    margin: 0;
    padding: 0;
}

header {
    background-color: #092A3A; /* Adjust this to match your brand color */
    padding: 40px 0;
    text-align: center;
    margin-bottom: -30px;
}

header img {
    max-width: 150px; /* Adjust as necessary for logo size */
    margin: 0 auto; /* Auto margin for horizontal centering */
    display: block; /* Display block to allow margins to take effect */
    margin-bottom: 70px;
   
}

h1 {
    font-size: 24px;
    font-weight: 300;
}

h2 {
    font-size: 24px;
    font-weight: 300;
}

p {
    font-size: 16px;
    font-weight: 60px;
}

.cards-heading {
    margin-top: 40px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Feature Cards Styles */
.feature-card img {
    width: 20%; /* Control the size of the cards here */
    margin: 20px auto; /* Centers the card and adds spacing */
    display: block;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 130px;
    grid-row-gap: 0px;
    align-content: center;
    justify-content: center;
    margin-bottom: -60px;
}


/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .feature-card img {
        width: 100%; /* Full width on smaller screens */
        margin: 10px auto; /* Reduce margin on smaller screens */
    }

    header h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 20px;
    }

    /*.btn-success {
        padding: 8px 16px; 
        font-size: 14px; 
    }*/
}

/* Testimonials Section Styles */
.bg-light {
    background-color: #092A3A; /* Light background for testimonials */
    padding: 50px 0;
}

/* Footer Styles */
footer {
     /* Dark footer background */
    color: #fff;
    padding: 30px 0;
    font-size: 14px;
    text-align: center;
}

/* App Screenshots Section */
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Button Styles */
.btn-success {
    background-color: white; /* Green color for buttons */
    border-radius: 10px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 30px; /* Button padding */   
}

.button-middle {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.reviews-heading {
    margin-top: -20px;
}

.hover-state {
    background-color: #0E445E;
}

.click-state {
    background-color: #092A3A;
    color: black;
}
